{% extends 'rental_management/base.html' %}

{% block title %}الإحصائيات{% endblock %}

{% block content %}
<h1>الإحصائيات العامة</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">إجمالي المباني</h5>
                <p class="card-text">
                    {{ total_buildings }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">إجمالي الوحدات</h5>
                <p class="card-text">
                    {{ total_units }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">الوحدات المؤجرة</h5>
                <p class="card-text">
                    {{ rented_units }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">الوحدات المتاحة</h5>
                <p class="card-text">
                    {{ available_units }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}