{% extends 'rental_management/base.html' %}

{% block title %}قائمة الوحدات{% endblock %}

{% block content %}
<h1>قائمة الوحدات</h1>
<a href="{% url 'unit_create' %}" class="btn btn-primary">إضافة وحدة جديدة</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>رقم الوحدة</th>
      <th>نوع الوحدة</th>
      <th>الحالة</th>
      <th>المبني</th>
      <th>إجراءات</th>
    </tr>
  </thead>
  <tbody>
    {% for unit in units %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ unit.number }}</td>
      <td>{{ unit.get_unit_type_display }}</td>
      <td>{{ unit.get_status_display }}</td>
      <td>{{ unit.building.name }}</td>
      <td>
        <a href="{% url 'unit_edit' unit.id %}" class="btn btn-info">تعديل</a>
        <a href="{% url 'unit_delete' unit.id %}" class="btn btn-danger btn-sm">حذف</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}