{% extends 'base.html' %}

{% block title %}قائمة العقارات{% endblock %}

<h1>قائمة العقارات</h1>
<div class="text-center my-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>إسم العقار</th>
                <th>نوع العقار</th>
                <th>المالك</th>
                <th>الوصف</th>
                <th>العنوان</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{ property.name }}</td>
                <td>{{ property.get_property_type_display }}</td>
                <td>{{ property.owner.username }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>