{% extends 'base.html' %}

{% block title %}قائمة العقود{% endblock %}

{% block content %}
  <h2>قائمة العقود</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>الوحدة</th>
        <th>إسم المستأجر</th>
        <th>تاريخ البداية</th>
        <th>تاريخ النهاية</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contracts %}
        <tr>
          <td>{{ contract.propert.name }}</td>
          <td>{{ contract.tenant.name }}</td>
          <td>{{ contract.start_date|date:"Y-m-d" }}</td>
          <td>{{ contract.end_date|date:"Y-m-d" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}