{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}إدارة الإيجارات{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">إدارة الإيجارات</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/buildings/">المباني</a></li>
                <li class="nav-item"><a class="nav-link" href="/units/">الوحدات</a></li>
                <li class="nav-item"><a class="nav-link" href="">المستأجرين</a></li>
                <li class="nav-item"><a class="nav-link" href="/contracts/create/">إضافة عقد</a></li>
                <li class="nav-item"><a class="nav-link" href="/payments/create/">تسجيل دفعة</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container my-4">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-dark text-white text-center py-3">
            <p>نظام إدارة الإيجارات - جميع الخقوق محفوظة ٢٠٢٤ </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/maintenance.js' %}"></script>
</body>
</html>